/*base*/

body {
	width: 100%; 
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
	background: #ffffff;
	color: #000000;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 880px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

/*header*/

.header {
	background: #eeeeee;
}

.main-header {
	margin-bottom: 80px;
	padding-top: 30px;
	vertical-align: middle;
}

.header-logo {
	float: left;
	width: 160px;
	margin-right: 140px;
    margin-bottom: 55px;
}

.main-navigation {
	float: left;
	width: 420px;
	padding-top: 25px;
}

.main-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0px;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;

	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.main-navigation a {
	text-decoration: none;
	color: #000;
	margin-right: 25px;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: #000000;
	opacity: 0.4;
}


.user-basket {
	float: right;
	min-width: 100px;
	padding-top: 25px;
}

.basket {
	position: relative;

	padding-left: 30px;

	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	color: #000000; 
}

.basket:hover {
	color: #fb565a;
}

.basket:active{
	color: #000;
	opacity: 0.3
}

.basket::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 15px;
	height: 15px;
	background: url("../img/basket-icons.png") no-repeat;
	background-position: -2px -2px;
}

.basket:hover::before {
	background-position: -3px -50px;
}

.basket:active::before{
	background-position: -3px -27px;
}

/*second-header*/

.slide {
	padding-bottom: 70px;
	width: 880px; 
}

.first-info {
	float: left;
	width: 380px;
}

.slide-title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	padding-top: 25px;

	font-size: 36px;
	line-height: 36px;
}

.slide-text {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	font-size: 16px;
	line-height: 22px;
}

.slide-btn {
	display: inline-block;
	vertical-align: top;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 65px;
	padding-left: 65px;


	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	
	color: #fff;
	background: #fb565a;
	border-radius: 2px;
}

.slide-btn:hover {
	background: #d6494d;
}

.slide-btn:active {
	background: #b63538;
}

.first-img {
	float: right;
}

.slide-second {
	display: none;
}

.slide-third {
	display: none;
}

/*content*/

.сontent-services {
	margin-bottom: 80px;
}

.services-site {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.services-apps {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.services-presentation {
	float: right;
	width: 240px;
}

.services-site img,
.services-apps img,
.services-presentation img {
	margin-bottom: 30px;
}

.services-site h2,
.services-apps h2,
.services-presentation h2 {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;

	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-site p,
.services-apps p,
.services-presentation p {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	font-size: 15px;
	line-height: 22px;
}

.btn {
	display: inline-block;
	vertical-align: top;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 35px;
	padding-left: 35px;

	color: #fff;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	border-radius: 2px;
}

.site-btn {
	background: #fb565a;
}

.site-btn:hover {
	background: #d6494d;
}

.site-btn:active {
	background: #b63538;
}

.apps-btn {
	background: #00ca74;
}

.apps-btn:hover {
	background: #01a25e;
}

.apps-btn:active {
	background: #009053;
}

.presentation-btn {
	background: #efc84a;
}

.presentation-btn:hover {
	background: #d6ae2c;
}

.presentation-btn:active {
	background: #c09b24;
}

/*second content*/

hr {
	background: #eeeeee;
	height: 2px;
	border: none;
}

.hr-first {
	margin-bottom: 60px;
}

.content-info {
	margin-bottom: 75px;
}

/*secont content - left*/

.info-left {
	float: left;
	width: 620px;
	margin-right: 20px;
	margin-top: 15px;
}

.left-info {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
}

.left-text {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
}

p.left-text {
	margin: 0;
	margin-bottom: 45px;
	padding: 0;
}

h2.left-text {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

ul.left-text {
	margin: 0;
	padding-left: 25px;
}

.left-text li {
	margin-bottom: 25px;
	padding-left: 10px;
}

/*second content - right*/

.info-right {
	float: right;
	width: 240px;
}

.right-logo {
	margin-bottom: 75px;
}

.right-text {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
}

h2.right-text {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;

	text-transform: uppercase;
}

ul.right-text {
	margin: 0;
	padding-left: 25px;
}

.right-text li {
	margin-bottom: 25px;
	padding-left: 10px;
}

.hr-second {
	margin-bottom: 45px;
}

/*partners*/

.partners-glukhanko {
	float: left;
	width: 198px;
	padding-left: 12px;
	margin-right: 120px;
	margin-top: 20px;

	opacity: 0.2;
}

.partners-glukhanko:hover,
.partners-glukhanko:active {
	opacity: 1;
}

.partners-academy {
	float: left;
	width: 199px;
	margin-right: 123px;
	margin-top: 10px;

	opacity: 0.2;
}

.partners-academy:hover,
.partners-academy:active {
	opacity: 1;
}

.partners-borodinski {
	float: right;
	width: 200px;
	padding-right: 19px;
	margin-bottom: 30px;

	opacity: 0.2;
}

.partners-borodinski:hover,
.partners-borodinski:active {
	opacity: 1.0;
}

.hr-third {
	margin-bottom: 85px;
}

.footer-map {
	width: 100%;
	position: relative;
}

.map {
	width: 100%	;
	height: 416px;
	background: #e9e5dc url("../img/map.jpg");
	background-size: cover;
}

.footer-contacts {
	position: absolute;
	top: 88px;
	left: 160px;

	width: 250px;
	background: #fff;
	text-align: center;
}

.footer-contacts h3 {
	margin: 0;
	margin-bottom: 25px;
	margin-top: 30px;
	padding: 0;

	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

.footer-contacts p {
	margin: 0;
	padding: 0;

	color: #666666;
	font-size: 16px;
	line-height: 20px;
}

p.contacts-adress {
	margin-bottom: 25px;
}

.contacts-btn {
	margin-top: 30px;
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;

	display: inline-block;
	vertical-align: top;

	background: #fb565a;
}

.contacts-btn:hover{
	background: #d6494d;
}

.contacts-btn:active {
	background: #b63538;
}

.footer-logo {
	position: absolute;
	top: 112px;
	right: 130px;
}

.footer-social {
	margin-top: 80px;
	font-size: 0px;
}

.social-vk {
	display: inline-block;
	vertical-align: top;

	width: 60px;
	height: 60px;
	margin-right: 30px;
	background: #e1e1e1 url("../img/social-sprite.png") no-repeat;
	background-position: 16px 22px;
	border-radius: 50%;

	font-size: 0;

}

.social-fb {
	display: inline-block;
	vertical-align: top;

	width: 60px;
	height: 60px;
	margin-right: 30px;
	background: #e1e1e1 url("../img/social-sprite.png") no-repeat;
	background-position: 17px -22px;
	border-radius: 50%;

	font-size: 0;
	
}

.social-inst {
	display: inline-block;
	vertical-align: top;

	width: 60px;
	height: 60px;
	background: #e1e1e1 url("../img/social-sprite.png") no-repeat;
	background-position: 20px -68px;
	border-radius: 50%;

	font-size: 0;
}

.social-vk:hover,
.social-fb:hover,
.social-inst:hover {
	background-color: #fb565a;
}

.social-vk:active,
.social-fb:active,
.social-inst:active {
	background-color: #d6494d; 
}

.social-info {
	float: right;
	width: 560px;

	font-size: 14px;	
}

.social-info h3 {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;

	font-size: 36px;
	line-height: 36px;
	font-weight: 500;
}

.social-info p {
	margin: 0;
	padding: 0;

	color: #283136;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}